@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

img {
  width: 500px;
  height: 300px;
}

button {
  border-radius: 5px;
  border: none;
  background-color: mediumpurple;
  color: white;
  font-size: 1.1em;
  padding: 0.8em 1.5em;
  text-align: center;
}

button {
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.2);
}
